/* div{
    background-color: yellow;
}
input{
    background-color: inherit;
}
button{
    background-color: inherit;
}
button:hover{
    background-color: red;
} */
/* #mainTopic{
    color: blue;
}

*{
    text-align: center;
}

h1,h3,h5{
    font-family: 'Georgia';
}

.myclass{
    color:white;
    background-color: cornflowerblue;
}

div>button{
    background-color: purple;
    color: azure;
}

button:hover{
    background-color: yellow;
    color: blue;
}

p:nth-of-type(odd)
{
    color:yellow;
}

h1::first-letter{
    color:red;
}
input[type="checkbox"]:checked +label{
    color:red;
} */

/* #mainContent
div.main
.main
h1 */

/* Assignment 3 */

/* #box{
    height: 150px;
    width: 300px;
    background-color: grey;
    border: 5px dotted black;
    margin: 20px 1em 40px 2em;
    padding: 1em;
}
.box{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
}
li{
    display: inline;
} */


/* Card Hover Effect */

.card{
     width: 200px;
     height: 200px;
     border: 2px solid black;
     display: inline-block;
     margin: 10px;
     padding-left: 100px;
     border-radius: 10px;
     box-shadow: 2px 2px 10px black;
     transition: 2s;
     
}

.desc{
    padding: 10px;
}

img{
    width: 30%;
    height: 50%;
}

img:hover{
    box-shadow: 4px 4px 20px goldenrod;

}

