/* #container{
    height: 600px;
    width: 60%;
    background-color: azure;
    margin:10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: flex-start;
}


#org{
    align-self:flex-start;
    flex-basis: 50px;
    flex-grow: 1;
    flex-shrink: 1;
    flex: 2 2 100px;

}

#blue{
    flex-basis: 400px;
    flex-grow: 2;
   min-width: 400px;
   flex-shrink: 2;
}
h1{
    text-align: center;
}
#container div{
    width: 50px;
    height: 100px;
    color: white;
    text-align: center;
    font-size: 1.5em;


} */

#container{
    width: 400px;
    height: 400px;
    background-color: white;
    border: 2px solid lightseagreen;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
   
}


 .box {
    width: 100px;
    height: 100px;
    font-size: 50px;
    background-color: grey;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}

#navbar{
    width: 900px;
    height: 50px;
    background-color: pink;
    border: 2px solid lightseagreen;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.option{
    width: 80px;
    height: 50px;
    font-size: 24px;
    border-radius: 10px;
    line-height: 50px;

}