/* .container{
    width: 600px;
    height: 400px;
    background-color: yellow;
    display: inline-grid;
    grid-template-rows: 50px 50px 50px 50px 50px;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: repeat(3,1fr);
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-columns: repeat(3,1fr);
    row-gap: 10px;
    column-gap: 30px;
    grid-gap: 30px 40px;
    justify-items: center;
    align-items: end;
    place-items: center;
}

.item{
    width: 100px;
    height: 50px;
    background-color: greenyellow;
    border: 2px solid black;
    text-align: center;
}
.one{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-column: 1/4;
    grid-column: 1/span 3;
}
.two{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-row: 1/ span 3;
}

.one{
    justify-self: end;
    align-self: start;
    place-self: start;
} */

/* Animation */

/* .box{
    height: 100px;
    width: 300px;
    background-color: pink;
    border: 2px solid black;

    animation-name: colourAnimate;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    animation: colourAnimate 6s ease-in 0s infinite alternate;
}


@keyframes fontAnimation{
    from{font-size:20px;}
    to{font: size 40px;}
}

@keyframes colourAnimate{
    0%{
        background-color: green;
       
    }
    50%{
        background-color:blue;
    }
    80%{
        background-colour:yellow;
    }
    100%{
        background-color: red;
    }
}

@keyframes widthAnimate{
    from{
        width: 20px;
    }
    to{
        width: 300px;
    }
} */


/* Media Queries */
/* h1{
    background-color: yellow;
    border:2px solid black;
}

@media (width:400px){
    h1{
        background-color: red;
        color: white;
    }
    div{
        height: 100px;
        width: 100px;
        background-color:blue;
    }
}

@media (min-width:700px)
{
    h1{
        background-color: greenyellow;
    }
}
@media (max-width:200px){
    h1{
        background-color: pink;
    }
}

@media (min-width:200px) and (max-width:300px)
{
    h1{
        background-color: magenta;
    }
}

@media (orientation:landscape)
{
     h1{
        background-color: aqua;
        color: brown;
     }
} */

/* Z-Index */

/* .box{
    height: 150px;
    width: 150px;
    border: 2px solid black;
    background-color: pink;
}
.one{
    background-color: aquamarine;
    position: relative;
    z-index:-1;
}
.two{
    background-color: darksalmon;
    position: relative;
    bottom: 50px;
    z-index: -2;
} */