/* h1{
    color:yellow;
}
p{
    color:blue;
}
button{
    color:green;
    background-color: red;
}
body{
    /* background-color: rgb(255,0,255); */
    /* background-color:#EEA5A6;
} */ 
/* *{
    color:green;
}

h1{
    color:blue;
}
#id1{
    color:red;
}
#id2{
    color:green
}
.myclass{
    color:brown;
} */


/* #box{
    background-color:blue;
}

.heading{
    color:red;
}

button{
    background-color: green;
} */

/* h1{
   text-align:center
}

p{
    text-align:left;
} */

/* h1{
    text-decoration: underline;
}
a{
    text-decoration:none;
} */

/* #h1{
    font-weight:bolder;
}
#h2{
   font-weight:100;
} */



/* #one{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#two{
    font-family:'Times New Roman', Times, serif;
} */


/* #h1{
    font-size:100px;
}
#h2{
    font-size:10px;
} */

/* #one{
    line-height:2px;
}
#two{
    line-height:50px;
} */

/* #one{
    text-transform:uppercase;
}
#two{
    text-transform:capitalize;
} */
/* h2{
    color:orange;
}
p{
    background-color: black;
    color: white;
}
button{
    background-color: blue;
    color:white;
} */

/* h1{
    color: #0000FF;
} */
/* h1{
    text-align: center;
}
p{
    text-align:justify;
} */
/* h1{
    font-weight: normal;
    text-decoration:  red underline;
}
p{
    font-weight:400;
    line-height:2.5;
    letter-spacing: 10px;
    
}

a{
    text-decoration:none;
} */
/* p{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} */


/* h1{
    font-family:League spartan;
    color:#ffa511;
    text-align:center;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5x;
    text-decoration: teal double underline;
    text-transform: uppercase;
}
h3{
    background-color:cyan;
} */


div{
    height: 200px;
    width:500px;
    background-color: pink;
    /* border-width: 5px;
    border-style: solid;
    border-color:blue; */
    border: 5px solid blue;
    /* border-left-style: dashed;
    border-left-color:black */
    border-top-right-radius: 20px;
    border-bottom-left-radius: 10px;

    padding-left: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 30px;

    margin-bottom: 30px;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 20px;
}
h1{
    border: 2px dashed green;
    border-top-style: solid;
    border-top-color: black;
    border-radius: 20px;
    margin:0px;
}
button{
    border-radius:10px;
    /* padding: 20px; */
    background-color: yellow;
    /* padding:30px; */
    /* padding: 20px 25px; */
    /* padding: 10px 20px 25px; */
    /* padding:10px 20px 30px 40px; */
    /* padding:0 20px 0 20px; */

    margin: 25px;
    margin: 20px 30px;
    margin: 10px 15px 20px;
    margin:10px 20px 30px 40px;
}
